<!--Created by: Daniel2019Creator1-->
<!DOCTYPE html>
<html class="language-en supportsGridLayout fluidContainer chrome" id="ie8" ng-app="App" lang="ht" dir="ltr" data-cast-api-enabled="true" href="index.html" src="https://code.sololearn.com/WujOTIDzOOkm/#html" URL="https://docs.google.com/document/d/1UWa7T3UWSNphEZGf7DsgjImFdu6wbHhHnGcGNjapcEc/edit">
	<head data-machine-class="WEB1770" data-machine-id="WEB1770" data='AgWyzJ'>
		<meta http-equiv="refresh" content="3600"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" author="Daniel2019Creator1"/>
        <meta name="author" content="Daniel2019Creator1"/>
        <meta author="Daniel2019Creator1"/>
	<meta name="msapplication-config" content="none"/>
        <link rel="publisher" href="https://plus.google.com/106654976348919347395">
        <link rel="canonical" href="https://www.pornhub.com/"/>
        <link href="https://codepen.io/Daniel2019Creator1/pen/GRpGvjG"/>
        <link src="https://codepen.io/Daniel2019Creator1/pen/GRpGvjG"/>
        <link href="https://code.sololearn.com/WS8OJESDifSP" onload="https://code.sololearn.com/WS8OJESDifSP"/>
        <link src="https://code.sololearn.com/WS8OJESDifSP" onload="https://code.sololearn.com/WS8OJESDifSP"/>
        <link href="https://codepen.io/Daniel2019Creator1/project/editor/AgWyzJ"/>
        <link src="https://codepen.io/Daniel2019Creator1/project/editor/AgWyzJ"/>
		<link rel="canonical" href="https://www.pornhub.com/" onload="https://www.pornhub.com/"/>
		<link rel="canonical" src="https://www.pornhub.com/" onload="https://www.pornhub.com/"/>
		<link rel="canonical" type="canonical" role="canonical" href="https://www.pornhub.com/" onload="https://www.pornhub.com"/>
		<link rel="canonical" type="canonical" role="canonical" src="https://www.pornhub.com/" onload="https://www.pornhub.com"/>
		<title class="title" id="title" placeholder="[-{(Pornhub)}-]" value="[-{(Pornhub)}-]">[-{(Pornhub)}-]</title>
		<link rel="icon" href="<%= BASE_URL %>favicon.ico"/>
		<link rel="icon" src="<%= BASE_URL %>favicon.ico"/> 
		<link rel="icon" type="icon" role="icon" href="<%= BASE_URL %>favicon.ico"/>
		<link rel="icon" type="icon" role="icon" src="<%= BASE_URL %>favicon.ico"/>
		<link rel="shortcut icon" href="https://di.phncdn.com/www-static/favicon.ico?cache=2020032601"/>
		<link rel="shortcut icon" src="https://di.phncdn.com/www-static/favicon.ico?cache=2020032601"/>
		<link rel="shortcut icon" type="shortcut icon" role="shortcut icon" href="https://di.phncdn.com/www-static/favicon.ico?cache=2020032601"/>
		<link rel="shortcut icon" type="shortcut icon" role="shortcut icon" src="https://di.phncdn.com/www-static/favicon.ico?cache=2020032601"/>
		<link href="style.css" src="https://code.sololearn.com/WS8OJESDifSP/#css">
        <link href="script.js" src="https://code.sololearn.com/WS8OJESDifSP/#js">
        <script href="https://code.sololearn.com/WS8OJESDifSP/#css" src="style.css"></script>
        <script href="https://code.sololearn.com/WS8OJESDifSP/#js" src="script.js"></script>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph59f3b8c8c3871&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph59f3b8c8c3871&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5d66f397ea94d&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5d66f397ea94d&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5d3dc6db04b04&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5d3dc6db04b04&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5a3a24b7d0b07&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5a3a24b7d0b07&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5bf0a23174f92&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5bf0a23174f92&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5e18f3ce6ba69&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5e18f3ce6ba69&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5d572c557d411&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5d572c557d411&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5c9e9f715ea98&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5c9e9f715ea98&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5c9eadcc0f974&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5c9eadcc0f974&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5d6dd64e93146&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5d6dd64e93146&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/> 
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5e9b4bc61b15b&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5e9b4bc61b15b&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
		<link href="https://www.pornhub.com/view_video.php?viewkey=ph5eafa233c52a5&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5%22%20onload=%22https://www.pornhub.com/view_video.php?viewkey=ph5eafa233c52a5&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5"/>
        <link rel="preconnect" href="//ai.phncdn.com/"/>
        <link rel="preconnect" src="//ai.phncdn.com/"/>
        <link rel="preconnect" href="//ci.phncdn.com"/>
        <link rel="preconnect" src="//ci.phncdn.com"/>
        <link rel="preconnect" href="//di.phncdn.com"/>
        <link rel="preconnect" src="//di.phncdn.com"/>
        <link rel="preconnect" href="//cdn1d-static-shared.phncdn.com"/>
        <link rel="preconnect" src="//cdn1d-static-shared.phncdn.com"/>
        <link rel="preconnect" href="//fonts.googleapis.com" crossorigin=""/>
        <link rel="preconnect" src="//fonts.googleapis.com" crossorigin=""/>
        <link rel="preconnect" href="//static.trafficjunky.com"/>
        <link rel="preconnect" src="//static.trafficjunky.com"/>
        <link rel="dns-prefetch" href="//di.phncdn.com"/>
        <link rel="dns-prefetch" src="//di.phncdn.com"/>
        <link rel="dns-prefetch" href="//as.phncdn.com/"/>
        <link rel="dns-prefetch" src="//as.phncdn.com/"/>
        <link rel="dns-prefetch" href="//ai.phncdn.com/"/>
        <link rel="dns-prefetch" src="//ai.phncdn.com/"/>
        <link rel="dns-prefetch" href="//ci.phncdn.com/"/>
        <link rel="dns-prefetch" src="//ci.phncdn.com/"/>
        <link rel="dns-prefetch" href="//cs.phncdn.com/"/>
        <link rel="dns-prefetch" src="//cs.phncdn.com/"/>
        <link rel="dns-prefetch" href="//cdn1d-static-shared.phncdn.com"/>
        <link rel="dns-prefetch" src="//cdn1d-static-shared.phncdn.com"/>
        <link rel="dns-prefetch" href="//cdn1-smallimg.phncdn.com/"/>
        <link rel="dns-prefetch" src="//cdn1-smallimg.phncdn.com/"/>
        <link rel="dns-prefetch" href="//www.gstatic.com"/>
        <link rel="dns-prefetch" src="//www.gstatic.com"/>
		<link rel="dns-prefetch" href="//apis.google.com"/>
		<link rel="dns-prefetch" src="//apis.google.com"/>
		<link rel="dns-prefetch" href="//ajax.googleapis.com"/>
		<link rel="dns-prefetch" src="//ajax.googleapis.com"/>
		<link rel="dns-prefetch" href="//www.google-analytics.com"/>
		<link rel="dns-prefetch" src="//www.google-analytics.com"/>
		<link type="text/javascript" id="htScript" async="" href="https://ht.pornhub.com/js/eht.js?site_id=0"/>
		<script type="text/javascript" id="htScript" async="" src="https://ht.pornhub.com/js/eht.js?site_id=0"></script>
		<link href="https://code.jquery.com/jquery-3.1.1.js"/>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <link href="https://code.jquery.com/jquery-3.1.1.min.js"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/3.1.1/sweetalert.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/3.1.1/sweetalert.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://dl.dropboxusercontent.com/s/i8vpm0vlhrlc1en/Module.js?dl=1&amp;raw=1"/>
        <link src="https://dl.dropboxusercontent.com/s/i8vpm0vlhrlc1en/Module.js?dl=1&amp;raw=1"/>
        <script href="https://dl.dropboxusercontent.com/s/i8vpm0vlhrlc1en/Module.js?dl=1&amp;raw=1"></script>
        <script src="https://dl.dropboxusercontent.com/s/i8vpm0vlhrlc1en/Module.js?dl=1&amp;raw=1"></script>
        <script href="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<script>
        window.onerror = function (msg, url, line, col, error) {var lineText = line == 0 ? "" : "<br /><span>Line: " + (line) + "</span>";var errorMessage = msg + lineText;window.parent.postMessage(errorMessage,"*");return false;} {
        document.onerror = function (msg, url, line, col, error) {var lineText = line == 0 ? "" : "<br /><span>Line: " + (line) + "</span>";var errorMessage = msg + lineText;window.parent.postMessage(errorMessage,"*");return false;}
        }
        </script>

<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" id="a521827748" src="https://550b3ikb9j.com/55/bd/9b/55bd9bad0f666ced3d4b6ede105f091a.js"></script><script async="" src="/cdn-cgi/bm/cv/2181903173/api.js"></script><script type="text/javascript" async="" src="https://550b3ikb9j.com/94f0352282c89acf89008960eba5c104/invoke.js"></script><script src="https://ads.exoclick.com/ads.js"></script><script src="//ie8eamus.com/sfp.js"></script><script src="https://ads.exoclick.com/ads.js"></script><script src="https://pushnotifications.click/fpp.js"></script>
<script>
this.onpush = function(event) {
  console.log(event.data);
  // From here we can write the data to IndexedDB, send it to any open
  // windows, display a notification, etc.
}

navigator.serviceWorker.register('serviceworker.js').then(
  function(serviceWorkerRegistration) {
    serviceWorkerRegistration.pushManager.subscribe().then(
      function(pushSubscription) {
        console.log(pushSubscription.endpoint);
        // The push subscription details needed by the application
        // server are now available, and can be sent to it using,
        // for example, an XMLHttpRequest.
      }, function(error) {
        // During development it often helps to log errors to the
        // console. In a production environment it might make sense to
        // also report information about errors back to the
        // application server.
        console.log(error);
      }
    );
  });
</script>
	</head>
	<body class="body" id="h-auto w-100" bg-colr="black" style="position:absolute; margin:1px; height:100%; width:100%; background:rgb(0, 0, 0), #000000; background-color:#000000;">
	    <created by="👑Daniel Shively👑">
        <!-- Created by: 👑Daniel Shively👑
        Copyright © 2020-2024
        Created at 31st/march/2020
        -->
        </created>
        <div class="container h-100" id="main" align="center" UI-align="middle">
		<div class="logo" id="logo" type="Pornhub-logo" role="Pornhub-logo" target-link="https://www.pornhub.com/" link-target="https://www.pornhub.com/" align="middle" UI-align="center" onload="Pornhub();" link="pornhub">
		<a class="Pornhub" id="Pornhub" target="www.pornhub.com/" href="https://www.pornhub.com/" src="https://www.pornhub.com/" onclick="Pornhub();" title="Pornhub" tag="Pornhub" img-value="Pornhub" text-value="Pornhub" value="Pornhub"><picture href="Porn_Hub.logo.img.pic.png" src="Porn_Hub.logo.img.pic.png" value="Pornhub"><img class="logo" id="logo" align="middle-center" UI-align="center-middle" text-align="even-center-middle" href="https://di.phncdn.com/www-static/images/pornhub_logo_straight.png?cache=2020033102" src="https://di.phncdn.com/www-static/images/pornhub_logo_straight.png?cache=2020033102" file-name="Porn_Hub.logo.img.pic.png" file-URL="file:///home/chronos/u-29950ccedd99e9224433cc8c5f049a889e3952af/MyFiles/Downloads/Porn_Hub.logo.img.pic.png.png" file-value="Porn_Hub.logo.img.pic.png" link="https://codepen.io/Daniel2019Creator1/pen/OJVqjZB" value="Pornhub"/></picture></a>
		</div>
		<form class="search" id="search" name="searchitem" alt="pornhubsearch" action="http://www.Pornhub.com/search" search-link="https://www.google.com/webhp?authuser=0" method="get" onsubmit="tog('input[1]',20,.02,'tog(\'input[1]\',20)')">
		<input class="mysearch" id="main" function="search();" name="q" alt="search" type="search" role="search" placeholder="Search Pornhub Here..." value=""/>
		<a class="search-btn" id="a" onclick="search(search);" onsubmit="search();"><button class="mysearchbutton" id="a=submit" href="#search" src="#searchoutput" type="submit" role="submit" onclick="search();"><i class="fas fa-search" id="fas fa-search" onsubmit="search();" Unicode="f002" placeholder="🔍" value="🔍">🔍</i></button></a>
		</form>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph59f3b8c8c3871" src="https://www.pornhub.com/embed/ph59f3b8c8c3871" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph59f3b8c8c3871&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5d66f397ea94d" src="https://www.pornhub.com/embed/ph5d66f397ea94d" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5d66f397ea94d&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5d3dc6db04b04" src="https://www.pornhub.com/embed/ph5d3dc6db04b04" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5d3dc6db04b04&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5a3a24b7d0b07" src="https://www.pornhub.com/embed/ph5a3a24b7d0b07" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5a3a24b7d0b07&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5bf0a23174f92" src="https://www.pornhub.com/embed/ph5bf0a23174f92" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5bf0a23174f92&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5e18f3ce6ba69" src="https://www.pornhub.com/embed/ph5e18f3ce6ba69" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5e18f3ce6ba69&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5d572c557d411" src="https://www.pornhub.com/embed/ph5d572c557d411" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5d572c557d411&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5c9e9f715ea98" src="https://www.pornhub.com/embed/ph5c9e9f715ea98" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5c9e9f715ea98&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5c9eadcc0f974" src="https://www.pornhub.com/embed/ph5c9eadcc0f974" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5c9eadcc0f974&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5d6dd64e93146" src="https://www.pornhub.com/embed/ph5d6dd64e93146" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5d6dd64e93146&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5e9b4bc61b15b" src="https://www.pornhub.com/embed/ph5e9b4bc61b15b" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5e9b4bc61b15b&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<line><hr></line>
		<iframe class="video-iframe" id="iframe" onload="iframe();" href="https://www.pornhub.com/view_video.php?viewkey=ph5eafa233c52a5" src="https://www.pornhub.com/embed/ph5eafa233c52a5" allow="fullscreen *; accelerometer *; autoplay *; encrypted-media *; gyroscope *; picture-in-picture *; allowfullscreen" style="width:100%; height=:326; border:0;" width="100%" height="326" frameborder="0" scrolling="no" allowfullscreen><video tabindex="-1" class="video-stream html5-main-video" controlslist="nodownload" style="width:100%; height:326; left: 0px; top: 0px;" src="blob:www.pornhub.com/view_video.php?viewkey=ph5eafa233c52a5&amp;utm_source=solocode.azurewebsites.net&amp;utm_medium=embed&amp;utm_campaign=embed-logo-html5" allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowfullscreen"></video></iframe>
		<div class="copyright" id="copyright" align="center" UI-align="center">
		<p class="copyright" id="copyright" align="middle" UI-align="middle" text-align="center-middle" style="color:#AAAAAA;" value="(👑Daniel Shively👑 Copyright © 2020-2024)">(👑Daniel Shively👑 Copyright © 2020-2024)</p>
		</div>
		</div>
		<div class="output" id="output" href="#searchoutput" src="#searchoutput"></div>
		<audio class="click" id="click">
		<source href="https://dl-web.dropbox.com/s/2pzgfyss56j9c4e/Click.mp3?dl=0" src="https://dl-web.dropbox.com/s/2pzgfyss56j9c4e/Click.mp3?dl=0" type="audio/mp3" role="audio/mp3"/>
		</audio>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script href="file:///home/chronos/u-e6d363bdbe235b98823438f1b5c45daa4f36f87e/MyFiles/Downloads/js.cookie.min.js" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script href="file:///home/chronos/u-e6d363bdbe235b98823438f1b5c45daa4f36f87e/MyFiles/Downloads/js.cookie.min.mjs" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>
<script>
Cookies.set('Pornhub.net', 'daniel-studios.github.io/PORNHUB/', { domain: 'https://daniel-studios.github.io/PORNHUB/' }, { secure: true });
Cookies.get('Pornhub.net'); // => 'value'
</script>
	</body>
</html>
